# Results in tables

In [1]:
import pandas as pd
import os
from collections import defaultdict
from IPython.display import display

In [2]:
results_folder = "results"
model_types = ["cnn14_logstft", "logmel_cnn14"]
method_names = ["saliency", "gradcam", "lime", "shap"]
exp_types_mapping = {
    "cnn14_logstft": ["clean"],
    "logmel_cnn14": ["clean", "white", "room", "horse"]
}
folder_for_tables = "csvs"

In [3]:
csv_files = []
for model in model_types:
    for method in method_names:
        for exp in exp_types_mapping[model]:
            dir_path = os.path.join(results_folder,
                                    model,
                                    f"{method}_{exp}",
                                    folder_for_tables)
            if not os.path.isdir(dir_path):
                continue
            for fname in os.listdir(dir_path):
                if fname.endswith(".csv"):
                    csv_files.append(os.path.join(dir_path, fname))

In [4]:
experiment_results = {m: {} for m in model_types}
for fpath in csv_files:
    parts = fpath.split(os.sep)
    model_type = parts[parts.index(results_folder) + 1]
    method, exp = parts[parts.index(results_folder) + 2].split("_", 1)
    exp_name = f"{method}_{exp}"
    mask_name = os.path.splitext(parts[-1])[0]
    
    df = pd.read_csv(fpath)
    metrics = df.columns.difference(['sample', 'is_correct'])
    means = df[metrics].mean()
    
    experiment_results[model_type].setdefault(exp_name, {})[mask_name] = means

In [5]:
for model, exps in experiment_results.items():
    for exp_name, mask_dict in exps.items():
        experiment_results[model][exp_name] = pd.DataFrame(mask_dict).T

In [6]:
mask_experiment_results = {m: {} for m in model_types}
for fpath in csv_files:
    parts = fpath.split(os.sep)
    model_type = parts[parts.index(results_folder) + 1]
    method, exp = parts[parts.index(results_folder) + 2].split("_", 1)
    mask_name = os.path.splitext(parts[-1])[0]
    
    df = pd.read_csv(fpath)
    metrics = df.columns.difference(['sample', 'is_correct'])
    means = df[metrics].mean()
    
    mask_experiment_results[model_type]\
      .setdefault(exp, {})\
      .setdefault(mask_name, {})[method] = means

for model, exps in mask_experiment_results.items():
    for exp_type, masks in exps.items():
        for mask_name, methods_dict in masks.items():
            mask_experiment_results[model][exp_type][mask_name] = \
                pd.DataFrame(methods_dict).T

In [7]:
column_order    = ["FF", "AI", "AG", "FidIn", "SPS", "AD", "COMP"]
invert_metrics  = {"AD", "COMP"}
diff_color_cols = {"SPS", "COMP"}

In [8]:
def highlight_extremes(col: pd.Series):
    is_invert = col.name in invert_metrics
    use_blue  = col.name in diff_color_cols
    mx, mn    = col.max(), col.min()
    styles    = []
    for v in col:
        if use_blue:
            if is_invert:
                if v == mn: styles.append('background-color: lightblue; font-weight: bold')
                elif v == mx: styles.append('background-color: lightsteelblue; font-weight: bold')
                else: styles.append('')
            else:
                if v == mx: styles.append('background-color: lightblue; font-weight: bold')
                elif v == mn: styles.append('background-color: lightsteelblue; font-weight: bold')
                else: styles.append('')
        else:
            if is_invert:
                if v == mn: styles.append('background-color: lightgreen; font-weight: bold')
                elif v == mx: styles.append('background-color: lightcoral; font-weight: bold')
                else: styles.append('')
            else:
                if v == mx: styles.append('background-color: lightgreen; font-weight: bold')
                elif v == mn: styles.append('background-color: lightcoral; font-weight: bold')
                else: styles.append('')
    return styles

In [9]:
def display_experiment_results(results):
    def _show(df, title=None):
        df = df.reindex(columns=[c for c in column_order if c in df.columns])
        styled = df.style.apply(highlight_extremes, axis=0)
        if title:
            print(f"\n--- {title} ---")
        display(styled)
    
    if isinstance(results, pd.DataFrame):
        _show(results)
        return
    
    if all(isinstance(v, pd.DataFrame) for v in results.values()):
        for name, df in results.items():
            _show(df, title=name)
        return
    
    for model, exps in results.items():
        print(f"\n===== MODEL: {model} =====")
        for name, df in exps.items():
            _show(df, title=name)

## Mel model - clean

In [10]:
display_experiment_results(experiment_results["logmel_cnn14"]["saliency_clean"])

In [11]:
display_experiment_results(experiment_results["logmel_cnn14"]["gradcam_clean"])

In [12]:
display_experiment_results(experiment_results["logmel_cnn14"]["lime_clean"])

In [13]:
display_experiment_results(experiment_results["logmel_cnn14"]["shap_clean"])

## STFT model - clean

In [14]:
display_experiment_results(experiment_results["cnn14_logstft"]["saliency_clean"])

In [15]:
display_experiment_results(experiment_results["cnn14_logstft"]["gradcam_clean"])

In [16]:
display_experiment_results(experiment_results["cnn14_logstft"]["lime_clean"])

In [17]:
display_experiment_results(experiment_results["cnn14_logstft"]["shap_clean"])

## Mask experiments clean - mel model

In [24]:
display_experiment_results(mask_experiment_results["logmel_cnn14"]["clean"])

--- topK_50_pos ---

--- topK_30_pos ---

--- minmax_pos ---

--- topK_5_pos ---

--- pos_thresh_50 ---

--- topK_50 ---

--- pos_thresh_25 ---

--- bin ---

--- minmax ---

--- topK_5 ---

--- topK_30 ---

--- sigmoid ---

--- sigmoid_pos ---

--- pos_thresh_75 ---

## Mask experiments - stft model

In [25]:
display_experiment_results(mask_experiment_results["cnn14_logstft"]["clean"])

--- topK_50_pos ---

--- topK_30_pos ---

--- minmax_pos ---

--- topK_5_pos ---

--- pos_thresh_50 ---

--- topK_50 ---

--- pos_thresh_25 ---

--- bin ---

--- minmax ---

--- topK_5 ---

--- topK_30 ---

--- sigmoid ---

--- sigmoid_pos ---

--- pos_thresh_75 ---

___

## Noisy experiments - mel model

In [28]:
display_experiment_results(experiment_results["logmel_cnn14"]["saliency_white"])

In [29]:
display_experiment_results(experiment_results["logmel_cnn14"]["saliency_room"])

In [30]:
display_experiment_results(experiment_results["logmel_cnn14"]["saliency_horse"])

In [31]:
display_experiment_results(experiment_results["logmel_cnn14"]["gradcam_white"])

In [32]:
display_experiment_results(experiment_results["logmel_cnn14"]["gradcam_room"])

In [33]:
display_experiment_results(experiment_results["logmel_cnn14"]["gradcam_horse"])

In [34]:
display_experiment_results(experiment_results["logmel_cnn14"]["lime_white"])

In [35]:
display_experiment_results(experiment_results["logmel_cnn14"]["lime_room"])

In [36]:
display_experiment_results(experiment_results["logmel_cnn14"]["lime_horse"])

In [37]:
display_experiment_results(experiment_results["logmel_cnn14"]["shap_white"])

In [38]:
display_experiment_results(experiment_results["logmel_cnn14"]["shap_room"])

In [39]:
display_experiment_results(experiment_results["logmel_cnn14"]["shap_horse"])

## Noisy experiments per mask - mel model

In [44]:
display_experiment_results(mask_experiment_results["logmel_cnn14"]["white"])

--- topK_50_pos ---

--- topK_30_pos ---

--- minmax_pos ---

--- topK_5_pos ---

--- pos_thresh_50 ---

--- topK_50 ---

--- pos_thresh_25 ---

--- bin ---

--- minmax ---

--- topK_5 ---

--- topK_30 ---

--- sigmoid ---

--- sigmoid_pos ---

--- pos_thresh_75 ---

In [45]:
display_experiment_results(mask_experiment_results["logmel_cnn14"]["room"])

--- topK_50_pos ---

--- topK_30_pos ---

--- minmax_pos ---

--- topK_5_pos ---

--- pos_thresh_50 ---

--- topK_50 ---

--- pos_thresh_25 ---

--- bin ---

--- minmax ---

--- topK_5 ---

--- topK_30 ---

--- sigmoid ---

--- sigmoid_pos ---

--- pos_thresh_75 ---

In [46]:
display_experiment_results(mask_experiment_results["logmel_cnn14"]["horse"])

--- topK_50_pos ---

--- topK_30_pos ---

--- minmax_pos ---

--- topK_5_pos ---

--- pos_thresh_50 ---

--- topK_50 ---

--- pos_thresh_25 ---

--- bin ---

--- minmax ---

--- topK_5 ---

--- topK_30 ---

--- sigmoid ---

--- sigmoid_pos ---

--- pos_thresh_75 ---